<section>
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email"
      matInput placeholder="Enter email address"
      name="mail"
      formControlName="email">
      <mat-hint align="start">Enter a valid email</mat-hint>
      <mat-error>Invalid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password"
      matInput placeholder="Enter password"
      name="pass"
      formControlName="password">
      <mat-hint align="start">Enter a valid password</mat-hint>
      <mat-error>Invalid password</mat-error>
    </mat-form-field>
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Submit</button>
    <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
  </form>
</section>
